@font-face {
    font-family: 'D2CodingLigature Nerd Font';
    src: url('D2CodingLigatureNF.woff2') format('woff2'),
        url('D2CodingLigatureNF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'D2CodingLigature Nerd Font';
    src: url('D2CodingLigatureNF-Bold.woff2') format('woff2'),
        url('D2CodingLigatureNF-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

